@model IEnumerable<Social.NetWork.BLL.DTO.MessageDTO>
@using Social.NetWork.WEB.Helpers
@using Microsoft.AspNet.Identity
@using System.Linq
@{
    ViewBag.Title = "Dialog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <script type="text/javascript">
        function OnSuccess(data) {
            var info = $('#jchatBody');
            for (var i = 0; i < data.Info.length; i++) {
                info.append('<div class="col-lg-2 col-md-2 col-sm-2  col-xl-1">' + data.Info[0] + '</div>');
            }
        }
    </script>
<div id="jchatBody" class="container results pb-4 overflow-auto " style="max-height:55vh; min-height:55vh;">
    @{
        Html.RenderPartial("SendMessagePartial", Model);
    }
</div>
<div http-equiv="refresh" content="600" class="container  mt-4 mb-3">
    @foreach (var item in Model) {
        if (item.FriendID != User.Identity.GetUserId()) {
            using (Ajax.BeginForm("SendMessage", new { UserID = User.Identity.GetUserId(), FriendID = Html.DisplayFor(model => item.FriendID) },
                new AjaxOptions { UpdateTargetId = "jchatBody",OnSuccess="OnSuccess" }, new { @id = "inputForm", @class = "form-inline my-2 my-lg-0 row" })) {
                <textarea id="message" class="form-control  mr-2 col-12 " rows="3" type="text" name="Envelope" placeholder="Введите сообщение ..."></textarea>
                <input id="sendmessage" class="btn btn-outline-success my-2 my-sm-1 col-12" type="submit" value="Отправить">

            }
            break;
        }
    }
</div>




@foreach (var item in Model) {
    if (item.FriendID != User.Identity.GetUserId()) {
        @Ajax.BeginForm("JsonRefresh",
    new { UserID = User.Identity.GetUserId(), FriendID = Html.DisplayFor(model => item.FriendID), Envelope = "" },
    new AjaxOptions { OnSuccess = "OnSuccess"},
    new { @id = "ActionLink", @style = "visibility:hidden;" })
        break;
    }
}
<script type="text/javascript">
  
    function Render() {
        //document.forms[2].submit();
        setTimeout("Refresh();", 5000);
        //document.getElementById("ActionLink").submit();
    }
    Render();

</script>
