@model IEnumerable<Social.NetWork.BLL.DTO.MessageDTO>
@using Social.NetWork.WEB.Helpers
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Диалоги</h2>

<table class="table">


    @foreach (var item in Model) {

    <tr  class="">
        <td class="w-25">
            <div class="ml-3 col-2">
                @Html.ImageFromArray(item.UserPhoto, "", "70px", "70px", "")
            </div>
            <div>
                @Html.ActionLink(item.FullName,"ToWriteAMessage",new { UserID=User.Identity.GetUserId(),FriendID=item.FriendID})
                
            </div>
            
        </td>

        <td class="col-8">
            <div class="pt-3">
                @Html.DisplayFor(modelItem => item.Envelope)
            </div>
        </td>
        <td>
            <div class=" pt-3 col">
                @Html.DisplayFor(modelItem => item.Date)
            </div>
            
        </td>
    </tr>
    }

</table>
